.desktop-navbar {
  display: flex;
}

.mobile-navbar {
  display: none;
}

/* Responsive :) */
@media (max-width: 900px) {
  .desktop-navbar {
    display: none !important;
  }

  .mobile-navbar {
    display: flex !important;
  }

  .header-desktop{
    display:none
  }
}



.iconWrapper {
  padding: 8px !important;
  height: 40px !important;
    border-radius: 64px !important;
    background-color: rgb(231, 231, 231) !important;
    margin-left:10px !important
}