.menuHeader {
  font-weight: bold;
  color: rgb(181 33 41);
  font-size:23px;
}

.menuDrawer {
  width: calc(100% - 32px);
  padding: 16px;
    background-color: transparent !important
}

.menuTitle {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 1.1rem;
}

.badge {
  background-color: teal;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

.rightIcons {
  display: flex;
  gap: 8px;
}


.mobileHeader{
  justify-content: space-between;
    align-items: center;
    width: calc(100%);
    padding: 16px 0px;
    display: flex
;

}

.iconWrapper {
  padding: 8px !important;
  height: 40px !important;
    border-radius: 64px !important;
    background-color: rgb(231, 231, 231) !important;
    margin-left:10px !important
}


.customizebtn{
  width:calc(100% - 20px);
  letter-spacing: -0.01em;
  background-color: rgb(181, 33, 41);
  height: 40px;
  color:white;
  border-radius:64px;
  text-align:center;
  font-size: 0.875rem;
  display:flex;
  justify-content: center;
  align-items: center;  
}

@media (min-width: 900px) {
.mobileHeader{
  display:none 
}
}